//
// Boxes
//
$box-border-radius: 4px;
$box-padding: 10px;

//
// Buttons
//
$button-radius: 4px;

// Default
$default-button-color: #333333;
$default-button-background-color: #ffffff;
$default-button-border-color: #cccccc;

// Primary
$primary-button-color: #ffffff;
$primary-button-background-color: #39bd55;
$primary-button-border-color: #39bd55;
$primary-button-background-hover-color: #21a33d;


//
// Badges
//
$badge-radius: 4px;

// Default
$default-badge-color: #333333;
$default-badge-background-color: #ffffff;
$default-badge-border-color: #cccccc;

// Primary
$primary-badge-background-color: #e8f0f3;
$primary-badge-border-color: #cedce1;
$primary-badge-background-hover-color: #e2ebef;

//
// Media queries breakpoints
//

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;